<a href="https://colab.research.google.com/github/yusufbaykal/Patika.dev/blob/main/Saatlik_Enerji_Talebi_%C3%9Cretimi_Hava_Durumu_ipynb_adl%C4%B1_not_defterinin_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
import lightgbm as lgb
from sklearn.metrics import r2_score
from sklearn import metrics
from sklearn.pipeline import make_pipeline, make_union
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler

In [46]:
df = pd.read_csv('/content/energy_dataset.csv')

In [47]:
df1 = pd.read_csv('/content/weather_features.csv')

In [48]:
df1.rename(columns={'dt_iso':'time'}, inplace=True)

In [49]:
fuldf = df.merge(df1,on='time')

In [50]:
fuldf.head()

                        time  ...  weather_icon
0  2015-01-01 00:00:00+01:00  ...           01n
1  2015-01-01 00:00:00+01:00  ...           01n
2  2015-01-01 00:00:00+01:00  ...            01
3  2015-01-01 00:00:00+01:00  ...           01n
4  2015-01-01 00:00:00+01:00  ...           01n

[5 rows x 45 columns]

In [ ]:
fuldf.info()

In [ ]:
fuldf.isnull().sum()

In [53]:
fuldf.drop(labels=['generation hydro pumped storage aggregated'],axis=1,inplace=True)

In [54]:
fuldf.drop(labels=['forecast wind offshore eday ahead'],axis=1,inplace=True)

In [ ]:
fuldf.info()

In [56]:
X = fuldf.drop(['price actual','time','city_name','weather_main','weather_description','weather_icon'],axis=1)
Y = fuldf['price actual']

In [57]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.33, random_state=0)

In [58]:
scaler = MinMaxScaler()

In [59]:
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [60]:
model = lgb.LGBMRegressor(objective= 'regression')
print('LightGBM Parameters:', np.array(model.get_params))

LightGBM Parameters: <bound method LGBMModel.get_params of LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31,
              objective='regression', random_state=None, reg_alpha=0.0,
              reg_lambda=0.0, silent=True, subsample=1.0,
              subsample_for_bin=200000, subsample_freq=0)>

In [61]:
model.fit(X_train,Y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31,
              objective='regression', random_state=None, reg_alpha=0.0,
              reg_lambda=0.0, silent=True, subsample=1.0,
              subsample_for_bin=200000, subsample_freq=0)

In [62]:
y_pred = model.predict(X_test)

In [63]:
def rmse(x,y):
    return math.sqrt(((x-y)**2).mean())

In [64]:
def print_score(model):
    print(f"RMSE of train set'{rmse(model.predict(X_train), Y_train)}")
    print(f"RMSE of test set {rmse(model.predict(X_test), Y_test)}")
    print(f"R^2 of train set{model.score(X_train, Y_train)}")
    print(f"R^2 of test set{model.score(X_test, Y_test)}")

In [65]:
print_score(model)

RMSE of train set'5.927938862671602
RMSE of test set 6.13493327291498
R^2 of train set0.8261211924839351
R^2 of test set0.813296765254379